{% extends 'base.html' %}
{% block title %}
    About us
{% endblock %}
{% block content %}

    <div class="row mx-5">

        <div class="col-xxl-4 col-lg-6 p-3"> <!--#card per riga: 3 se xxl (o più), 2 se lg o xl, 1 altrimenti-->
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-6">Oscar Casalegno</h2>
                    <p class="lead">while True: panic();</p>
                </div>
                <img src="{{ url_for('static', filename='Oscar.jpg') }}" alt="Oscar" class="face">
            </div>
        </div>

        <div class="col-xxl-4 col-lg-6 p-3">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-6">Alessia Corrias</h2>
                    <p class="lead">Not Shopping, Market Research!</p>
                </div>
                <img src="{{ url_for('static', filename='Alessia.jpg') }}" alt="Alessia" class="face">
            </div>
        </div>

        <div class="col-xxl-4 col-lg-6 p-3">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-6">Luca Debernardi</h2>
                    <p class="lead">The APIs Tamer</p>
                </div>
                <img src="{{ url_for('static', filename='Luca.jpeg') }}" alt="Luca" class="face">
            </div>
        </div>

        <div class="col-xxl-4 col-lg-6 p-3">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-6">Arianna Pricco</h2>
                    <p class="lead">"That's what she said"</p>
                </div>
                <img src="{{ url_for('static', filename='Arianna.JPG') }}" alt="Our Logo" class="face">
            </div>
        </div>

        <div class="col-xxl-4 col-lg-6 p-3">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-6">Edoardo Borroni</h2>
                    <p class="lead">Yaba Daba Loca</p>
                </div>
                <img src="{{ url_for('static', filename='Edoardo.jpeg') }}" alt="Edoardo" class="face">
            </div>
        </div>

        <div class="col-xxl-4 col-lg-6 p-3">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-6">Gino</h2>
                    <p class="lead">#All_Fixed_In_2_Days_TRUST_ME!!</p>
                </div>
                <img src="{{ url_for('static', filename='Gino_2.jpg') }}" alt="Stock Image" class="face">
            </div>
        </div>

    </div>
    <div class="py-5"></div>
{% endblock %}
