{% extends 'base.html' %}
{% block title %}
    About us
{% endblock %}
{% block content %}

    <div class="row mx-5">

        <div class="col-xxl-4 col-lg-6 p-3"> <!--#card per riga: 3 se xxl (o più), 2 se lg o xl, 1 altrimenti-->
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Another headline</h2>
                    <p class="lead">And an even wittier subheading.</p>
                </div>
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Our Logo" class="face">
            </div>
        </div>

        <div class="col-xxl-4 col-lg-6 p-3">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Luca Debernardi</h2>
                    <p class="lead">And an even wittier subheading.</p>
                </div>
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Our Logo" class="face">
            </div>
        </div>

        <div class="col-xxl-4 col-lg-6 p-3">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Another headline</h2>
                    <p class="lead">And an even wittier subheading.</p>
                </div>
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Our Logo" class="face">
            </div>
        </div>

        <div class="col-xxl-4 col-lg-6 p-3">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Another headline</h2>
                    <p class="lead">And an even wittier subheading.</p>
                </div>
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Our Logo" class="face">
            </div>
        </div>

        <div class="col-xxl-4 col-lg-6 p-3">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Another headline</h2>
                    <p class="lead">And an even wittier subheading.</p>
                </div>
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Our Logo" class="face">
            </div>
        </div>

        <div class="col-xxl-4 col-lg-6 p-3">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Another headline</h2>
                    <p class="lead">And an even wittier subheading.</p>
                </div>
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Our Logo" class="face">
            </div>
        </div>

    </div>
    <div class="py-5"></div>
{% endblock %}
