{% extends 'base.html' %}  <!--Da creare nuova base per backend!!-->
{% block title %}
    E404 - Page not Found
{% endblock %}
{% block content %}
    <div>
        <div style="margin-top:100pt;background-color:var(--logo);padding:40pt 0;text-align:center;font-family:Bahnschrift,serif;color:white">
            <h1 style="font-size:3rem;margin:2pt 0">ERROR 404</h1>
            <p style="font-size:1.1rem;text-transform:uppercase;margin:2pt 0">Impossible to find the page</p>
        </div>
    </div>
    <div class="py-5"></div>
{% endblock %}
