{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="centered-form mt-log">
            {{ form.hidden_tag() }}
            <h2 class="pb-2">Fill-out to Login</h2>
            <!--{{ form.username.label() }}-->
            {{ form.username(class="form-control mt-3", placeholder="User Name") }}

            <!--{{ form.password.label() }}-->
            {{ form.password(class="form-control mt-3", placeholder="Password") }}

            {{ form.submit(class="btn btn-lg btn-block btn-primary mt-4") }}
        </form>

        <p class="my-2">Or:</p>
        <div class="row">
            <div class="col-md-3 center">
                <a class="btn btn-outline-dark" href="{{ url_for('g_login_page') }}" role="button" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                </a>
            </div>
        </div>

    </div>
    <div class="py-4"></div>
</body>
{% endblock %}
