{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin centered-form mt-log">
            {{ form.hidden_tag() }}
            <h2 class="pb-2">Fill-out to Login</h2>
            <!--{{ form.username.label() }}-->
            {{ form.username(class="form-control mt-3", placeholder="User Name") }}

            <!--{{ form.password.label() }}-->
            {{ form.password(class="form-control mt-3", placeholder="Password") }}

            {{ form.submit(class="btn btn-lg btn-block btn-primary mt-4") }}
        </form>
    </div>
</body>
{% endblock %}
