
.centered {
    /*Title*/
    text-align: center;
    padding: 37vh 0;
    /*Background*/
    background-image: url(temp.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#red {
    color: red;
}
